[submodule "php/coordinator"]
	path = php/coordinator
	url = git@github.com:nubs/coordinator
[submodule "php/geometron"]
	path = php/geometron
	url = git@github.com:nubs/geometron
[submodule "php/random-name-generator"]
	path = php/random-name-generator
	url = git@github.com:nubs/random-name-generator
[submodule "php/sensible"]
	path = php/sensible
	url = git@github.com:nubs/sensible
[submodule "php/vectorix"]
	path = php/vectorix
	url = git@github.com:nubs/vectorix
[submodule "php/which"]
	path = php/which
	url = git@github.com:nubs/which
[submodule "php/which-cli"]
	path = php/which-cli
	url = git@github.com:nubs/which-cli
[submodule "websites/nickrinehart.com"]
	path = websites/nickrinehart.com
	url = git@github.com:nubs/nickrinehart.com
[submodule "websites/overthemonkey.com"]
	path = websites/overthemonkey.com
	url = git@github.com:nubs/overthemonkey.com
[submodule "websites/spennifer.com"]
	path = websites/spennifer.com
	url = git@github.com:nubs/spennifer.com
[submodule "aur/docker-arch-build"]
	path = aur/docker-arch-build
	url = git@github.com:nubs/docker-arch-build
[submodule "aur/php-imagick-aur"]
	path = aur/php-imagick-aur
	url = git@github.com:nubs/php-imagick-aur
[submodule "aur/php-oci8-aur"]
	path = aur/php-oci8-aur
	url = git@github.com:nubs/php-oci8-aur
[submodule "aur/php-wddx-aur"]
	path = aur/php-wddx-aur
	url = git@github.com:nubs/php-wddx-aur
[submodule "aur/dwm-custom-aur"]
	path = aur/dwm-custom-aur
	url = git@github.com:nubs/dwm-custom-aur
[submodule "php/docker-composer-build"]
	path = php/docker-composer-build
	url = git@github.com:nubs/docker-composer-build
[submodule "php/docker-php-minimal"]
	path = php/docker-php-minimal
	url = git@github.com:nubs/docker-php-minimal
[submodule "php/docker-phpunit"]
	path = php/docker-phpunit
	url = git@github.com:nubs/docker-phpunit
[submodule "websites/bizgolf"]
	path = websites/bizgolf
	url = git@github.com:nubs/bizgolf
[submodule "websites/bizgolf-ui"]
	path = websites/bizgolf-ui
	url = git@github.com:nubs/bizgolf-ui
[submodule "php/release-notes"]
	path = php/release-notes
	url = git@github.com:nubs/release-notes
[submodule "js/garble"]
	path = js/garble
	url = git@github.com:nubs/garble
[submodule "js/docker-npm-build"]
	path = js/docker-npm-build
	url = git@github.com:nubs/docker-npm-build
[submodule "php/pwman"]
	path = php/pwman
	url = git@github.com:nubs/pwman
[submodule "aur/php-gnupg-aur"]
	path = aur/php-gnupg-aur
	url = git@github.com:nubs/php-gnupg-aur
[submodule "php/sensible-cli"]
	path = php/sensible-cli
	url = git@github.com:nubs/sensible-cli
[submodule "talks/twisty-puzzles-and-group-theory"]
	path = talks/twisty-puzzles-and-group-theory
	url = git@github.com:nubs/twisty-puzzles-and-group-theory
[submodule "js/docker-npm-onbuild"]
	path = js/docker-npm-onbuild
	url = git@github.com:nubs/docker-npm-onbuild
[submodule "js/docker-npm-gyp-onbuild"]
	path = js/docker-npm-gyp-onbuild
	url = git@github.com:nubs/docker-npm-gyp-onbuild
[submodule "php/docker-composer-onbuild"]
	path = php/docker-composer-onbuild
	url = git@github.com:nubs/docker-composer-onbuild
[submodule "java/docker-maven-build"]
	path = java/docker-maven-build
	url = git@github.com:nubs/docker-maven-build
[submodule "java/docker-maven-onbuild"]
	path = java/docker-maven-onbuild
	url = git@github.com:nubs/docker-maven-onbuild
[submodule "websites/pull-request-parser"]
	path = websites/pull-request-parser
	url = git@github.com:nubs/pull-request-parser
[submodule "js/docker-node-dind-jenkins-slave"]
	path = js/docker-node-dind-jenkins-slave
	url = git@github.com:nubs/docker-node-dind-jenkins-slave
[submodule "js/docker-npm-gyp-build"]
	path = js/docker-npm-gyp-build
	url = git@github.com:nubs/docker-npm-gyp-build
[submodule "js/webextension-uuidgen"]
	path = js/webextension-uuidgen
	url = git@github.com:nubs/webextension-uuidgen
[submodule "php/docker-composer-test-onbuild"]
	path = php/docker-composer-test-onbuild
	url = git@github.com:nubs/docker-composer-test-onbuild
